<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149823858651-s6gs7ipqa4eff0g3kpb31nsv508updbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149823858651-s6gs7ipqa4eff0g3kpb31nsv508updbm</string>
	<key>API_KEY</key>
	<string>AIzaSyBV2m1JIvXcvSsNxW4Yo2wp-prpS0g6vrI</string>
	<key>GCM_SENDER_ID</key>
	<string>149823858651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.afet2023.yardimtakip</string>
	<key>PROJECT_ID</key>
	<string>afet2023</string>
	<key>STORAGE_BUCKET</key>
	<string>afet2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149823858651:ios:2376ec1354fe942b2ee9fe</string>
</dict>
</plist>